<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style/test/test.css">
    <title>Test</title>
</head>
<body>
<h1>首页</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci distinctio enim ipsum nostrum, nulla odio
    pariatur quasi sequi? Aut, autem cupiditate earum fuga ipsa ipsam, iusto libero minima neque odio possimus quae
    quidem sunt ullam voluptatum? Alias asperiores assumenda autem cupiditate ex, explicabo, in ipsam laboriosam magni
    minima nemo nihil, provident saepe? Accusantium alias architecto consequuntur cupiditate, dolores eaque error est
    ex, explicabo facilis fugit id maxime nam nisi nobis recusandae similique? Asperiores, itaque quos? Eius facere
    impedit inventore minima ut voluptate, voluptatibus. Asperiores autem cupiditate dolores doloribus eaque eligendi ex
    expedita explicabo incidunt, inventore ipsam quas quis totam. Alias ea exercitationem fuga fugit incidunt non
    perferendis, quibusdam rem tempore temporibus! Assumenda consequatur dolorum eveniet fuga fugit minima modi
    praesentium quisquam repellat sint, sit temporibus! Accusamus adipisci, aliquam architecto culpa dignissimos
    doloribus esse hic iure maxime molestias praesentium quidem quis repellendus rerum sed, sequi suscipit, tenetur
    voluptatem. Consectetur, dicta, reiciendis! A adipisci alias aliquam assumenda consequuntur corporis culpa dolore
    doloremque dolores eaque eius enim est fugit illum ipsa iure labore laborum, laudantium minus neque nesciunt non
    odio, officia optio porro quae quam qui quibusdam quidem quis repellat similique sunt velit. Asperiores autem
    dolorum facilis hic maiores quod reiciendis repellendus temporibus?
</p>
<script src="../../assets/lib/jquery.min.js"></script>
<script src="../../assets/lib/layer/layer.js"></script>
<script src="../../base.js"></script>
<script src="../../common/g.js"></script>
<script src="../../common/http.js"></script>
<script src="../../script/test/test.js"></script>
</body>
</html>