.DS_Store
node_modules/
npm-debug.log
.idea
.vscode
.project
*.suo
*.ntvs*
*.njsproj
*.sln
/build
/*.zip
/dist
/rev
/src/common/**/*.js
/src/common/**/*.css
/src/script/**/*.js
/src/style/**/*.css
/src/base.js
