<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>治安大型活动</title>
    <link rel="stylesheet" href="../../style/index/index.css">
</head>
<body>
<div class="banner header w100p abs"></div>
<div class="banner map-container abs"><img src="../../assets/imgs/map.jpg" alt=""></div>
<div class="aside left-side abs">
    <ul id="left-side">
        <li><a class="todos" href="javascript:;">待办任务</a></li>
        <li><a class="model-manger" href="javascript:;">模拟管理</a></li>
        <li><a class="order" href="javascript:;">情指中心</a></li>
        <li><a class="large-activity" href="javascript:;">大型活动</a></li>
        <li><a class="bg-manger" href="javascript:;">后台管理</a></li>
    </ul>
</div>
<div class="aside right-side abs">
    <ul id="right-side">
        <li><a class="danger-pub" href="javascript:;">危爆治安</a></li>
        <li><a class="special-pub" href="javascript:;">特行治安</a></li>
        <li><a class="security-pub" href="javascript:;">保安业治安</a></li>
        <li><a class="vip-site" href="javascript:;">重点场所</a></li>
        <li><a class="others-pub" href="javascript:;">治安其他类</a></li>
    </ul>
</div>
<div class="banner footer w100p abs">
    <ul id="footer">
        <li><a href="javascript:;"><span>寄递物流模型</span></a></li>
        <li><a href="javascript:;"><span>警情对比模型</span></a></li>
        <li><a href="javascript:;"><span>治安指数</span></a></li>
        <li><a href="javascript:;"><span>图上派单</span></a></li>
        <li><a href="javascript:;"><span>大型活动模型</span></a></li>
        <li><a href="javascript:;"><span>+</span></a></li>
        <li><a href="javascript:;"><span>+</span></a></li>
        <li><a href="javascript:;"><span>+</span></a></li>
    </ul>
</div>
<script src="../../assets/lib/jquery.min.js"></script>
<script src="../../assets/lib/layer/layer.js"></script>
<script src="../../assets/lib/template.min.js"></script>
<script src="../../common/g.js"></script>
<script src="../../script/index/index.js"></script>
</body>
</html>